<!-- Body Start -->
<div class="sa4d25">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="st_title"><i class="uil uil-book-alt"></i>Test History</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12" *ngIf="(submissions | async)?.length > 0">
        <div class="my_courses_tabs">
          <div>
            <div class="table-responsive">
              <table class="table ucp-table" id="content-table">
                <thead class="thead-s">
                <tr>
                  <th class="text-center" scope="col">Attempt No.</th>
                  <th scope="col">Title</th>
                  <th class="text-center" scope="col">Test Type</th>
                  <th class="text-center" scope="col">Due Date</th>
                  <th class="text-center" scope="col">Test Date</th>
                  <th class="text-center" scope="col">Results</th>
                  <th class="text-center" scope="col" (click)="toggleControl()">Controls</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let submission of submissions | async">
                  <td class="text-center">{{submission.attempt_number}}</td>
                  <td class="cell-ta">{{submission.test.title}}</td>
                  <td class="text-center">{{submission.test.type | titlecase}}</td>
                  <td class="text-center">{{submission.test.due_date | date:dateFormat}}</td>
                  <td class="text-center">{{submission.submission_date | date: dateFormat}}</td>
                  <td class="text-center"><a href="#" routerLink="/submission/{{submission.id}}">Review</a></td>
                  <td class="text-center">
                    <div *ngIf="showControls">
                      <span title="Delete" class="gray-s pointer" matTooltip="Dev demo only"
                            (click)="deleteSubmission(submission.id)"><i class="uil uil-trash-alt"></i></span>
                    </div>
                  </td>
                </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12" *ngIf="(submissions | async)?.length === 0">
        <div class="top_countries mt-30">
          <div class="top_countries_title">
            <h2>No Submissions Found</h2>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Body End -->
