<!-- Body Start -->
<div class="sa4d25">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="st_title"><i class="uil uil-bell"></i> Notifications</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="#" class="setting_noti" routerLink="/notification">Notification Setting</a>
        <div class="all_msg_bg">
          <div class="channel_my item all__noti5">
            <div class="profile_link">
              <img src="../../../assets/images/left-imgs/img-9.jpg" alt="">
              <div class="pd_content">
                <p class="noti__text5">You have made a submission for the following test - <a href="#" class="crse_bl">Technical Exam</a>.</p>
                <span class="nm_time">5 min ago</span>
              </div>
            </div>
          </div>
          <div class="channel_my item all__noti5">
            <div class="profile_link">
              <img src="../../../assets/images/left-imgs/img-9.jpg" alt="">
              <div class="pd_content">
                <p class="noti__text5">The following test is now open - <a href="#" class="crse_bl">Technical Exam</a>.</p>
                <span class="nm_time">12 hours ago</span>
              </div>
            </div>
          </div>
          <div class="channel_my item all__noti5">
            <div class="profile_link">
              <img src="../../../assets/images/left-imgs/img-2.jpg" alt="">
              <div class="pd_content">
                <h6>Professor Charles Xavier</h6>
                <p class="noti__text5">Added new test <strong>Technical Exam</strong>.</p>
                <span class="nm_time">15 days ago</span>
              </div>
            </div>
          </div>
          <div class="channel_my item all__noti5">
            <div class="profile_link">
              <img src="../../../assets/images/left-imgs/img-9.jpg" alt="">
              <div class="pd_content">
                <p class="noti__text5">You have been registered to this course and eligible to take exams.</p>
                <span class="nm_time">20 days ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 pt-4">This is a placeholder only for the proposed notifications feature.</div>

    </div>
  </div>
</div>
<!-- Body End -->
