<!-- Body Start -->
<div class="sa4d25">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="st_title"><i class="uil uil-book-alt"></i>{{test?.title}}</h2>
        <!--          <div class="p-md-4">{{test.description}}</div>-->
      </div>
    </div>
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-md-6 mt-50">

            <form (ngSubmit)="onSubmit()" [formGroup]="selectionsFormGroup">
              <mat-vertical-stepper [linear]="isLinear" formArrayName="questions" #stepper>

                <ng-container *ngFor="let question of questions?.controls; let i=index">
                  <mat-step [formGroupName]="i" [stepControl]="questions?.controls[i]">
                    <ng-template matStepLabel>
                      <div class="ques_title">
                        {{question.value.label}}
                      </div>
                    </ng-template>
                    <div class="ques_item">
                      <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        formControlName="selectedValue">
                        <mat-radio-button class="example-radio-button" [value]="option" *ngFor="let option of question?.value.options; let j=index">
                          {{option.label}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="example-button-row">
                      <button type="button" mat-raised-button color="primary" matStepperPrevious *ngIf="stepper.selectedIndex > 0">Back</button>
                      <button type="button" mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                  </mat-step>
                </ng-container>

                <mat-step *ngIf="test">
                  <ng-template matStepLabel>End</ng-template>
                  <p>This is the end of the exam. Feel free to review your answers and submit when done.</p>
                  <div class="example-button-row">
                    <button type="button" mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button type="button" mat-raised-button color="primary" (click)="move(0)">Review</button>
                    <button type="submit" mat-raised-button color="warn">Submit</button>
                  </div>
                </mat-step>
              </mat-vertical-stepper>
            </form>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="certi_form rght1528">
              <div class="test_timer_bg">
                <ul class="test_timer_left">
                  <li>
                    <div class="timer_time">
                      <h4>{{test?.content?.length}}</h4>
                      <p>Questions</p>
                    </div>
                  </li>
                  <li>
                    <div class="timer_time" *ngIf="test">
                    <h4 id="timer"><countdown [config]="config"
                                              (notify)="onNotify($event)"
                                              (start)="onStart($event)"
                                              (finished)="onFinish($event)">
                      $!m!:$!s!</countdown></h4>
                    <p>Time remaining</p>
              </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Body End -->
