<!-- Body Start -->
<div class="sa4d25">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="st_title"><i class="uil uil-file-alt"></i>
          {{testDetail?.test.title}}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <div class="top_countries mt-30">
          <div class="top_countries_title">
            <h2>Description</h2>
          </div>
          <div class="statement_content">
            <p class="tt-body">{{testDetail?.test.description}}</p>
            <div *ngIf="testDetail?.attempt_number == 0; else testDone">
              <a href="#" class="apply_instructor_btn" routerLink="/test">Start Test</a>
            </div>
            <ng-template #testDone><span class="apply_instructor_btn_disabled">Done</span></ng-template>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5">
        <div class="top_countries mt-30">
          <div class="top_countries_title">
            <h2>Feedback</h2>
          </div>
          <div class="statement_content">
            <div class="fcrse_content2">

              <div class="allvperf">
                <div class="crse-perf-left">Grading Status</div>
                <div class="crse-perf-right">
                  <div *ngIf="testDetail?.grading_status; else elseBlock">{{testDetail.grading_status}}</div>
                  <ng-template #elseBlock>Pending</ng-template>
                </div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left">Grade</div>
                <div class="crse-perf-right">
                  <div *ngIf="testDetail?.grade_value; else elseBlock"><span class="per_text2">{{testDetail.grade_value}} / {{testDetail.grade_max_value}}</span></div>
                </div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left">Graded By</div>
                <div class="crse-perf-right">
                  <div *ngIf="testDetail?.graded_by; else elseBlock">{{testDetail.graded_by}}</div>
                </div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left">Graded On</div>
                <div class="crse-perf-right">
                  <div class="crse-perf-right">
                    <div *ngIf="testDetail?.graded_date; else elseBlock">{{testDetail.graded_date | date:dateFormat}}</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-8 col-md-7">
        <div class="top_countries mt-30">
          <div class="top_countries_title">
            <h2>Submission Status</h2>
          </div>
          <div class="statement_content">
            <div class="fcrse_content2">

              <div class="allvperf">
                <div class="crse-perf-left"><span class="analyics_pr">Due date</span></div>
                <div class="crse-perf-right"><span class="per_text2">{{testDetail?.test.due_date | date:dateFormat}}</span></div>
              </div>

<!--              <div class="allvperf">-->
<!--                <div class="crse-perf-left">Time remaining</div>-->
<!--                <div class="crse-perf-right">{{testDetail?.timeRemaining}}</div>-->
<!--              </div>-->

              <div class="allvperf">
                <div class="crse-perf-left">Attempt</div>
                <div class="crse-perf-right">
                  <div *ngIf="testDetail?.attempt_number > 0; else elseBlock">
                    # {{testDetail?.attempt_number}}
                  </div>
                </div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left">Submission Status</div>
                <div class="crse-perf-right">
                  <div *ngIf="testDetail?.submission_status; else elseBlock">
                    {{testDetail?.submission_status}}
                  </div>
                </div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left">Submission Date</div>
                <div class="crse-perf-right">
                  <div *ngIf="testDetail?.submission_date; else elseBlock">
                    {{testDetail?.submission_date | date:dateFormat}}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Body End -->
