<!-- Body Start -->
<div class="sa4d25">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="st_title"><i class="uil uil-file-alt"></i>
          {{submission?.test.title}}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <div class="top_countries mt-30">
          <div class="top_countries_title">
            <h2>Description</h2>
          </div>
          <div class="statement_content">
            <p class="tt-body">{{submission?.test.description}}</p>

            <div *ngIf="eligible; else na">
              <div *ngIf="showStart">
                <button type="button" mat-raised-button color="warn" (click)="startTest()">Start Test</button>
              </div>
              <div *ngIf="submission?.submission_status == 'Started'">
                <button type="button" mat-raised-button color="warn" (click)="continueTest()">Continue Test</button>
              </div>
              <div *ngIf="submission?.submission_status == 'Submitted'">
                <button mat-raised-button disabled>Done</button>
              </div>
            </div>
            <ng-template #na>
              <button mat-raised-button disabled>Unavailable</button>
            </ng-template>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5">
        <div class="top_countries mt-30">
          <div class="top_countries_title">
            <h2>Feedback</h2>
          </div>
          <div class="statement_content">
            <div class="fcrse_content2">

              <div class="allvperf">
                <div class="crse-perf-left">Grading Status</div>
                <div class="crse-perf-right">
                  <div *ngIf="submission?.grading_status; else elseBlock">{{submission.grading_status}}</div>
                  <ng-template #elseBlock>Pending</ng-template>
                </div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left">Grade</div>
                <div class="crse-perf-right">
                  <div *ngIf="submission?.grading_status; else elseBlock"><span
                    class="per_text2">{{submission.grade_value}} / {{submission.grade_max_value}}</span></div>
                </div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left">Graded By</div>
                <div class="crse-perf-right">
                  <div *ngIf="submission?.graded_by; else elseBlock">{{submission.graded_by}}</div>
                </div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left">Graded On</div>
                <div class="crse-perf-right">
                  <div class="crse-perf-right">
                    <div
                      *ngIf="submission?.graded_by; else elseBlock">{{submission.graded_date | date:dateFormat}}</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-8 col-md-7">
        <div class="top_countries mt-30">
          <div class="top_countries_title">
            <h2>Submission Status</h2>
          </div>
          <div class="statement_content">
            <div class="fcrse_content2">

              <div class="allvperf">
                <div class="crse-perf-left"><span class="">Open date</span></div>
                <div class="crse-perf-right"><span>{{submission?.test.start_date | date:dateFormat}}</span></div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left"><span class="analyics_pr">Due date</span></div>
                <div class="crse-perf-right"><span
                  class="per_text2">{{submission?.test.due_date | date:dateFormat}}</span></div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left">Attempt</div>
                <div class="crse-perf-right">
                  <div *ngIf="submission?.attempt_number > 0; else elseBlock">
                    # {{submission?.attempt_number}}
                  </div>
                </div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left">Submission Status</div>
                <div class="crse-perf-right">
                  <div *ngIf="submission?.submission_status; else elseBlock">
                    {{submission?.submission_status}}
                  </div>
                </div>
              </div>

              <div class="allvperf">
                <div class="crse-perf-left">Submission Date</div>
                <div class="crse-perf-right">
                  <div *ngIf="submission?.graded_by; else elseBlock">
                    {{submission?.submission_date | date:dateFormat}}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Body End -->
