<!-- Body Start -->
<div class="sa4d25">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="st_title"><i class="uil uil-book-alt"></i>Grades</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="my_courses_tabs">
          <div>

            <div class="col-lg-12">
              <div class="section3125 mt-0">
                <div class="la5lo1">
                  <div class="fcrse_1">
                    <div class="fcrse_content">
                      <h4 class="subcribe_title2">Exams</h4>
                      <div class="table-responsive mt-20">
                        <table class="table ucp-table" id="content-table">
                          <thead class="thead-s">
                          <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center" scope="col">Grading Status</th>
                            <th class="text-center" scope="col">Score</th>
                            <th class="text-center" scope="col">Out of</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let submission of submissions | async">
                            <td class="text-center">{{submission.test.title}}</td>
                            <td class="text-center">{{submission.grading_status}}</td>
                            <td class="text-center">{{submission.grade_value}}</td>
                            <td class="text-center">{{submission.grade_max_value}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="mt-50">
                        <h4 class="subcribe_title2">Assignments</h4>
                        <h6 class="crsedt8145 mt-20">Placeholder for assignment grades</h6>
                      </div>

                      <div class="auth1lnkprce">
                        <p href="#" class="cr1fot50">Course Total</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Body End -->
