<!-- Body Start -->
<div class="sa4d25">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="st_title"><i class="uil uil-book-alt"></i>Grades</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="my_courses_tabs">
          <div>

<!--            <h4 class="item_title">Test Summary</h4>-->
<!--            <div class="table-responsive">-->
<!--              <table class="table ucp-table" id="content-table">-->
<!--                <thead class="thead-s">-->
<!--                <tr>-->
<!--                  <th scope="col"></th>-->
<!--                  <th scope="col">Name</th>-->
<!--                  <th class="text-center" scope="col">Due</th>-->
<!--                  <th class="text-center" scope="col">Grading Status</th>-->
<!--                  <th class="text-center" scope="col">Score</th>-->
<!--                  <th class="text-center" scope="col">Out of</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                &lt;!&ndash;                <tr *ngFor="let test of history">&ndash;&gt;-->
<!--                <tr>-->
<!--                  <td class="cell-ta"></td>-->
<!--                  <td class="cell-ta">test</td>-->
<!--                  <td class="text-center">test</td>-->
<!--                  <td class="text-center">test</td>-->
<!--                  <td class="text-center">test</td>-->
<!--                  <td class="text-center">test</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <td class="cell-ta"></td>-->
<!--                  <td class="cell-ta">test</td>-->
<!--                  <td class="text-center">test</td>-->
<!--                  <td class="text-center">test</td>-->
<!--                  <td class="text-center">test</td>-->
<!--                  <td class="text-center">test</td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--              </table>-->
<!--            </div>-->


            <div class="col-lg-12">
              <div class="section3125 mt-0">
                <div class="la5lo1">
                  <div class="fcrse_1">
                    <div class="fcrse_content">
                      <h4 class="subcribe_title2">Exams</h4>
                      <div class="table-responsive mt-20">
                        <table class="table ucp-table" id="content-table">
                          <thead class="thead-s">
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th class="text-center" scope="col">Due</th>
                            <th class="text-center" scope="col">Grading Status</th>
                            <th class="text-center" scope="col">Score</th>
                            <th class="text-center" scope="col">Out of</th>
                          </tr>
                          </thead>
                          <tbody>
                          <!--                <tr *ngFor="let test of history">-->
                          <tr>
                            <td class="cell-ta"></td>
                            <td class="cell-ta">test</td>
                            <td class="text-center">test</td>
                            <td class="text-center">test</td>
                            <td class="text-center">test</td>
                            <td class="text-center">test</td>
                          </tr>
                          <tr>
                            <td class="cell-ta"></td>
                            <td class="cell-ta">test</td>
                            <td class="text-center">test</td>
                            <td class="text-center">test</td>
                            <td class="text-center">test</td>
                            <td class="text-center">test</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="mt-50">
                        <h4 class="subcribe_title2">Assignments</h4>
                        <h6 class="crsedt8145 mt-20">Placeholder for assignment grades</h6>
                      </div>

<!--                      <div class="mt-50">-->
<!--                        <h3 class="subcribe_title">Course Total</h3>-->
<!--                      </div>-->

                      <div class="auth1lnkprce">
                        <p href="#" class="cr1fot50">Course Total</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


<!--            <div class="col-lg-12">-->
<!--              <div class="section3125 mt-50">-->
<!--                <h4 class="item_title">Grade Summary</h4>-->
<!--                <div class="la5lo1">-->
<!--                  <div class="fcrse_1">-->
<!--                    <div class="fcrse_content">-->
<!--                      &lt;!&ndash;                      <h6 class="crsedt8145">Current subscribers</h6>&ndash;&gt;-->
<!--                      <h3 class="subcribe_title">Exams</h3>-->
<!--                      <div class="allvperf">-->
<!--                        <div class="crse-perf-left">View</div>-->
<!--                        <div class="crse-perf-right">17k<span class="analyics_pr"><i-->
<!--                          class="uil uil-arrow-to-bottom"></i>75%</span></div>-->
<!--                      </div>-->
<!--                      <div class="allvperf">-->
<!--                        <div class="crse-perf-left">Purchased<span class="per_text">(per hour)</span></div>-->
<!--                        <div class="crse-perf-right">1<span class="analyics_pr"><i-->
<!--                          class="uil uil-top-arrow-from-top"></i>100%</span></div>-->
<!--                      </div>-->
<!--                      <div class="allvperf">-->
<!--                        <div class="crse-perf-left">Enroll<span class="per_text">(per hour)</span></div>-->
<!--                        <div class="crse-perf-right">50<span class="analyics_pr"><i-->
<!--                          class="uil uil-top-arrow-from-top"></i>70%</span></div>-->
<!--                      </div>-->

<!--                      <div class="auth1lnkprce">-->
<!--                        <p href="#" class="cr1fot50">Course Total</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Body End -->
