<!-- Left Sidebar Start -->
<nav class="vertical_nav">
  <div class="left_section menu_left" id="js-menu" >
    <div class="left_section">
      <ul>
        <li class="menu--item">
          <a href="student_dashboard.html" class="menu--link active" title="Dashboard">
            <i class="uil uil-apps menu--icon"></i>
            <span class="menu--label">Dashboard</span>
          </a>
        </li>
        <li class="menu--item  menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class='uil uil-clipboard-alt menu--icon'></i>
            <span class="menu--label">Upcoming Tests</span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              <a href="#" class="sub_menu--link">Test Schedule</a>
            </li>
            <li class="sub_menu--item">
              <a href="#" class="sub_menu--link">Quizzes</a>
            </li>
            <li class="sub_menu--item">
              <a href="#" class="sub_menu--link">Exams</a>
            </li>
            <li class="sub_menu--item">
              <a href="certification_test_view.html" class="sub_menu--link" routerLink="/test-info">Test Info</a>
            </li>
            <li class="sub_menu--item">
              <a href="certification_test_view.html" class="sub_menu--link" routerLink="/test">Test View</a>
            </li>
            <li class="sub_menu--item">
              <a href="certification_test__result.html" class="sub_menu--link" routerLink="/test-result">Test Result</a>
            </li>
            <li class="sub_menu--item">
              <a href="http://www.gambolthemes.net/html-items/edututs+/Instructor_Dashboard/my_certificates.html" class="sub_menu--link">My Certification</a>
            </li>
          </ul>
        </li>
        <li class="menu--item">
          <a href="student_courses.html" class="menu--link" title="Courses" routerLink="/test-history">
            <i class='uil uil-book-alt menu--icon'></i>
            <span class="menu--label">Test History</span>
          </a>
        </li>
        <li class="menu--item">
          <a href="student_statements.html" class="menu--link" title="Statements" routerLink="/grades">
            <i class='uil uil-file-alt menu--icon'></i>
            <span class="menu--label">Grades</span>
          </a>
        </li>
        <li class="menu--item">
          <a href="student_messages.html" class="menu--link" title="Messages">
            <i class='uil uil-comments menu--icon'></i>
            <span class="menu--label">Messages</span>
          </a>
        </li>
        <li class="menu--item">
          <a href="student_notifications.html" class="menu--link" title="Notifications">
            <i class='uil uil-bell menu--icon'></i>
            <span class="menu--label">Notifications</span>
          </a>
        </li>
<!--        <li class="menu&#45;&#45;item">-->
<!--          <a href="student_my_certificates.html" class="menu&#45;&#45;link" title="My Certificates">-->
<!--            <i class='uil uil-award menu&#45;&#45;icon'></i>-->
<!--            <span class="menu&#45;&#45;label">My Certificates</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="menu&#45;&#45;item">-->
<!--          <a href="student_all_reviews.html" class="menu&#45;&#45;link" title="Reviews">-->
<!--            <i class='uil uil-star menu&#45;&#45;icon'></i>-->
<!--            <span class="menu&#45;&#45;label">Reviews</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="menu&#45;&#45;item">-->
<!--          <a href="student_credits.html" class="menu&#45;&#45;link" title="Credits">-->
<!--            <i class='uil uil-wallet menu&#45;&#45;icon'></i>-->
<!--            <span class="menu&#45;&#45;label">Credits</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="menu&#45;&#45;item">-->
<!--          <a href="student_statements.html" class="menu&#45;&#45;link" title="Statements">-->
<!--            <i class='uil uil-file-alt menu&#45;&#45;icon'></i>-->
<!--            <span class="menu&#45;&#45;label">Statements</span>-->
<!--          </a>-->
<!--        </li>-->
      </ul>
    </div>
    <div class="left_section pt-2">
      <ul>
        <li class="menu--item">
          <a href="setting.html" class="menu--link" title="Setting">
            <i class='uil uil-cog menu--icon'></i>
            <span class="menu--label">Setting</span>
          </a>
        </li>
        <li class="menu--item">
          <a href="feedback.html" class="menu--link" title="Send Feedback">
            <i class='uil uil-comment-alt-exclamation menu--icon'></i>
            <span class="menu--label">Send Feedback</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Left Sidebar End -->
